---
import Layout from '../layouts/Layout.astro';
import NavCard, { type NavCardProps } from '../components/navigation/NavCard';
import "../styles/global.css";
import Header from '../components/navigation/Header';

const navCardItems: NavCardProps[] = [
	{
	 icon: 'new',
	 redirect: 'new',
	 label: 'Nuevo',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 icon: 'database',
	 redirect: 'patients',
	 label: 'Registros',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 icon: 'chart',
	 redirect: 'dashboard',
	 label: 'Gráficas',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 icon: 'settings',
	 redirect:'settings',
	 label: 'Ajustes',
	 iconHeight: '65%',
	 iconWidth: '65%'
	}
]

---
<Layout title="Welcome to Astro.">
	<div class="flex flex-col h-screen min-w-min min-h-min p-4">
		<Header title='Bienvenido Brian Nieto'/>
		<main class="container w-screen my-auto mx-auto p-8 xs:p-4 flex justify-center sm:flex-col md:flex-row lg:flex-row flex-wrap md:flex-nowrap lg:flex-nowrap gap-menu gap-y-8">
			{
				navCardItems.map((props)=> (
					<NavCard {...props}/>
				))
			}
		</main>
		<footer class="flex my-auto items-center justify-center">
			<h3> Version 1.0.0 </h3>
		</footer>
	</div>
</Layout>
