---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "../styles/global.css";

---

<Layout title="Welcome to Astro.">
	<main>
		<h1> Astro Tailwind Test </h1>
	</main>
</Layout>
