---
import Header from '../components/navigation/Header';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import NewView from '../components/views/new';

    
---
<Layout title="New diagnosis">
	<div class="flex flex-col h-screen min-w-min min-h-min p-4">
        <Header title='Nuevo Diagnóstico' isSecondary/>
        <main class="p-8 flex justify-center sm:flex-col md:flex-row lg:flex-row flex-wrap md:flex-nowrap lg:flex-nowrap gap-8">
            <NewView client:load />
        </main>
	</div>
</Layout>
