---
import Header from '../components/navigation/Header';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import NewForm, { type Input } from '../components/forms/NewForm';

const inputs: Input[] = [
    {
        label: 'Nombres',
        name: 'names',
        type: 'text'
    },
    {
        label: 'Apellidos',
        name: 'lastnames',
        type: 'text'
    },
    {
        label: 'Identificacion',
        name: 'id',
        type: 'text'
    },
    {
        label: 'Persona mayor a 65',
        name: 'isOld',
        type: 'select',
        options: [
            {
                key: 0,
                value: true,
                text: 'Si'
            },
            {
                key: 1,
                value: false,
                text: 'No'
            }
        ]
    },
    {
        label: 'Al menos 3 factores de riesgo',
        name: 'riskFactor',
        type: 'select',
        options: [
        {
                key: 0,
                value: true,
                text: 'Si'
            },
            {
                key: 1,
                value: false,
                text: 'No'
            }
        ]
    },
]

---
<Layout title="Welcome to Astro.">
	<div class="flex flex-col h-screen min-w-min min-h-min p-4">
        <Header title='Bienvenido Brian Nieto' isSecondary/>
	</div>
    <div>
        <NewForm client:load inputs={inputs}/>
    </div>
</Layout>
