---
import Header from '../components/navigation/Header';
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import PatientsView from '../components/views/patients';
---
<Layout title="Pacientes">
    <div class="flex flex-col min-w-min p-4 min-h-screen max-h-screen">
        <Header title='Pacientes' isSecondary/>
        <main class="p-8 flex justify-center sm:flex-col md:flex-row lg:flex-row flex-wrap md:flex-nowrap lg:flex-nowrap gap-8" style={{ height: 'calc(100vh - 25vh)' }}>
            <PatientsView client:load/>
        </main>
	</div>
</Layout>